.git
.github
.cache
.gocache
.gotmp
.idea
.vscode

bin
coverage
dist
tmp

*.coverprofile
*.log
*.out
*.prof
*.test

.env
.env.*
config.yaml
config.local.yaml
config.*.local.yaml
configs/config.local.yaml

docs
tests

